.container {
  display: grid;
  width: 650px;
  grid-template-columns: 300px 300px;
  gap: 50px;
  justify-items: stretch;
}

.no_products {
  font-size: 25px;
  text-align: center;
  grid-column: 1/3;
}